{% block main %}
    <table class="table table-striped table-bordered table-hover" id="{{id}}">
        <thead>
            <tr>
                {% for label, key in fields %}
                    {% if label != '_identifier_' %}
                        <th>{{ label }}</th>
                        {% endif %}
                    {% endfor %}
            </tr>
        </thead>
        {% if search %}
            {% set i = 0 %}
            <tfoot>
                <tr>
                    {% for label,key in fields %}
                        {% if label != '_identifier_' %}
                            <td style="text-align: center;">
                                <input type="text" index="{{ i }}" searchable="true" placeholder="Filtrar por {{ label }}" class="search_init" style="width: 90%" />
                            </td>
                            {% set i = i+1 %}
                        {% endif %}
                    {% endfor %}
                </tr>
            </tfoot>
        {% endif %}
    </table>

    <script type="text/javascript">

        $options ={{ js | raw }}
                $defaults = {
                    "bJQueryUI": true,
                    "sPaginationType": "full_numbers",
                    "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                    "iDisplayLength": 10,
                    "bServerSide": true,
                    "bProcessing": false,
                    "sAjaxSource": null,
                    "bPaginate": true,
                    "bLengthChange": true,
                    "bSort": true,
                    "bFilter": {% if search %}true{% else %}false{% endif %}
                };

        $.extend($defaults, $options);

        var oTable_{{ id | replace({'-': '_'}) }} = $('#{{ id }}').dataTable($defaults);

        /* Add events */
        {% if search %}
            search_selector = "#{{id}} input[searchable=true]";
            $(search_selector).keyup(function (event) {
                index = $(this).attr('index');
                oTable = eval('oTable_{{ id | replace({'-': '_'}) }}');
                if (event.keyCode == '13') {
                    oTable.fnFilter(
                            this.value,
                            oTable.oApi._fnVisibleToColumnIndex(
                                    oTable.fnSettings(),
                                    index
                                    )
                            );
                }
            }).each(function (i) {
                this.initVal = this.value;
            }).focus(function () {
                if (this.className == "search_init") {
                    this.className = "";
                    this.value = "";
                }
            }).blur(function (i) {
                if (this.value == "") {
                    this.className = "search_init";
                    this.value = this.initVal;
                }
            });
        {% endif %}
    </script>
{% endblock  %}