

<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>CIK</th>
            <td>{{ entity.cik }}</td>
        </tr>
        <tr>
            <th>TICKER</th>
            <td>{{ entity.ticker }}</td>
        </tr>
        <tr>
            <th>Número IRS</th>
            <td>{{ entity.getIrsNumber }}</td>
        </tr>
        <tr>
            <th>SIC</th>
            <td>{{ entity.sic }}</td>
        </tr>
        <tr>
            <th>Intercambio</th>
            <td>{{ entity.exchange }}</td>
        </tr>



    </tbody>
</table>