

<table class="table table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>SIC</th>
            <td>{{ entity.sic }}</td>
        </tr>
        <tr>
            <th>NAICS</th>
            <td>{{ entity.naics }}</td>
        </tr>
        <tr>
            <th>NAICS_Descrip</th>
            <td>{{ entity.getNaicsClasification }}</td>
        </tr>


    </tbody>
</table>